body {
  background-image:url(../iglidhim.github.io/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 2.5em;
  color: rgb(155, 133, 8);
}
h2 {
  font-size: 1.5em;
}